################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Dovelet/v15/Browse.VC.opendb
/.vs/Dovelet/v15/Browse.VC.db
/.vs/Dovelet/v15
/.vs
